body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
img{
    max-width: 100%;
}
.top-bg{
    background-image: url(img/top-banner.png);
}
.header-section{
   margin-bottom: 100px;
    background-repeat: no-repeat;
    display: flex;
}
.padding-l{
    padding-left: 5%;

}
.padding-r{
    padding-right: 5%;
}
.header-content{
    width: 45%;
    /* margin-left: 60px; */
    /* padding-top: 5%; */
}
.header-content h1{
        color: #111;
        font-weight: 600;
        font-size: 50px;
}
.header-content h2{
    font-size: 48px;
    font-weight: 500;
    
}
.header-content span{
    color: #ff6905;
}
.header-content h3 {
    font-size: 24px;
    font-weight: 500;
    color: #111;
}
.header-content p {
    color: #837e7e;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 25px;
}
.header-content .btn {
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    padding: 10px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    transition:.5s;
    /* overflow: hidde*/
    

}

/* .header-content .btn {
text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    margin-top: 12px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    background: linear-gradient(to right, #f7b733, #fc4a1a);

} */


.header-content .btn:hover{
    color: #fc4a1a ;
    background:#747d8c;
}
.margin-left{
    margin-left: 80px;
}
.header-img{
    width: 45%;

}
.margin-r img{
    margin-right: 40px;
}

.header-bg{
    background-image: url(img/dream-bg.png);
    background-position: right;
}

        /* experiance section */

.experiance-section{
    margin-bottom: 40px;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experiance-section h1{
    font-size: 50px;
    font-weight: 500;
    color: #111;
}
.exp-main-item{
    display: flex;
    padding: 40px;
}
.exp-item{
    width: 42%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-left: 4%;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
}
.exp-item h1{
    font-size: 40px;
    font-weight: 600;
    color: #111;

}
.exp-item h3{
    font-size: 22px;
    color: #ffa801;
    font-weight: 600;
}
.exp-item p {
    font-size: 17px;
    text-align: justify;
    color: #545454;
    margin-bottom: 50px;
}

/* border left design */
.orange{
    border-left: 7px solid #F79F1F;
}
.blue{
    border-left: 7px solid #3742fa;
}

        /* footer section */
.footer-section{
    text-align: center;
    padding: 20px;
}
.footer-section p{
    color: #545454;
    font-size: 18px;
    font-weight: 400;

}